@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Models.EF.Product>

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-products-box">
                <div class="image">
                    <a href="/san-pham/@item.Alias-@(item.Id)" class="d-block">
                        <img src="@item.Images" alt="products-image">
                    </a>
                    <ul class="products-button">
                        <li><a href="/gio-hang/them-@item.Id-1"><i class='bx bx-cart-alt'></i></a></li>
                        <li>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#productsQuickView-@item.Id">
                                <i class='bx bx-show'></i>
                            </a>
                        </li>
                        <li><a href="/san-pham/@item.Alias-@(item.Id)"><i class='bx bx-link-alt'></i></a></li>
                    </ul>
                </div>
                <div class="content">
                    <h3><a href="/san-pham/@item.Alias-@(item.Id)">@item.Name</a></h3>
                    <div class="price">
                        <span class="new-price">
                            @{
                                int money = item.Price;
                                if (item.PriceSale > 0)
                                {
                                    money = item.PriceSale.Value;
                                }
                            }
                            @KeyShop.Common.CommonHelper.ConvertMoney(@money)đ
                        </span>
                    </div>
                    <div class="rating">
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade productsQuickView" id="productsQuickView-@item.Id" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="image">
                                    <img src="@item.Images" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="content">
                                    <h3><a href="/san-pham/@item.Alias-@(item.Id)">@item.Name</a></h3>
                                    <div class="price">
                                        @if (item.PriceSale > 0)
                                        {
                                            <span class="new-price">@KeyShop.Common.CommonHelper.ConvertMoney(item.PriceSale.Value)đ</span>
                                            <span class="old-price">@KeyShop.Common.CommonHelper.ConvertMoney(item.Price)đ</span>
                                        }
                                        else
                                        {
                                            <span class="new-price">@KeyShop.Common.CommonHelper.ConvertMoney(item.Price)đ</span>
                                        }
                                    </div>
                                    <div class="rating">
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                    </div>
                                    <p>
                                        Nhấn vào sản phẩm để xem chi tiết hơn về sản phẩm này.
                                    </p>
                                    <div class="products-add-to-cart">
                                        <div class="input-counter">
                                            <span class="minus-btn"><i class='bx bx-minus'></i></span>
                                            <input type="text" value="1">
                                            <span class="plus-btn"><i class='bx bx-plus'></i></span>
                                        </div>
                                        <a href="/gio-hang/them-@item.Id-1" class="default-btn"><span>Thêm vào giỏ hàng</span></a>
                                    </div>
                                    <br />
                                    <ul class="products-info">
                                        <li><span>SKU:</span> KSP@(item.Id)</li>
                                        <li><span>Danh mục:</span> <a href="/danh-muc/@(item.Category.Alias)-@(item.Category.Id)">@item.Category.Name</a></li>
                                        <li><span>Còn lại:</span> Trong kho (7 code)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}
else
{
    <div class="">
        <h3 class="">Tạm thời chưa có sản phẩm</h3>
    </div>
}

<div class="col-lg-12 col-md-12">
    <div class="pagination-area">
        <div class="nav-links justify-content-center">
            @*<a href="shop-grid.html" class="previous page-numbers" title="Next Page">
                    <i class='bx bx-chevrons-left'></i>
                </a>
                <span class="page-numbers current">1</span>

                <a href="shop-grid.html" class="next page-numbers" title="Next Page">
                    <i class='bx bx-chevrons-right'></i>
                </a>*@
            @Html.PagedListPager(Model, page => Url.Action("Category", new { page }),
           new PagedListRenderOptions()
           {
               LiElementClasses = new[] { "page-numbers", "current" },
           })
        </div>
    </div>
</div>