@model KeyShop.Areas.Admin.Models.LoginModel
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h1>Tài khoản</h1>
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li>Đăng nhập tài khoản</li>
            </ul>
        </div>
    </div>
</div>


<div class="profile-authentication-area ptb-100">
    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="login-form">
                    <h2>ĐĂNG NHẬP</h2>
                    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                        <div class="form-group">
                            <label>Tên đăng nhập</label>
                            @*<input type="text" class="form-control" placeholder="Tên đăng nhập">*@
                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "Nhập tên đăng nhập...", @autofocus = "autofocus" })

                        </div>
                        <div class="form-group">
                            <label>Mật khẩu</label>
                            @*<input type="password" class="form-control" placeholder="Mật khẩu">*@
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @type = "password", @placeholder = "Password..." })

                        </div>
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6 remember-me-wrap">
                                <div class="form-check">
                                    @*<input class="form-check-input" type="checkbox" id="remember-me">*@
                                    @Html.CheckBoxFor(x => x.RememberMe, new { @class = "form-check-input", @id = "remember-me", @checked = "checked" })
                                    <label class="form-check-label" for="remember-me">Lưu đăng nhập</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6 lost-your-password-wrap">
                                <a href="#" class="lost-your-password">Quên mật khẩu?</a>
                            </div>
                        </div>
                        <button type="submit">Đăng nhập</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>