@model List<KeyShop.Models.Cart>

@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h1>Thanh toán</h1>
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li>Thanh toán đơn hàng</li>
            </ul>
        </div>
    </div>
</div>


<div class="checkout-area ptb-100">
    <div class="container">
        <div class="user-actions">
            <span>Chưa muốn thanh toán? <a href="/gio-hang">Ấn vào đây để quay lại giỏ hàng</a></span>
        </div>
        @if (Model != null && Model.Any())
        {
            using (Ajax.BeginForm("Payment", "Cart", new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "ONSUC",
                OnFailure = "ONFAI"
            }, new { @Id = "form" }))
            {
                <script>
                    function ONSUC(res) {
                        if (res.Status) {
                            window.location.href = res.Url;
                        }
                    }
                </script>
                @*<form>*@
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="order-details">
                            <h3>Sản phẩm của bạn</h3>
                            <div class="order-table table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            var price = (item.product.PriceSale > 0) ? item.product.PriceSale.GetValueOrDefault(0) : item.product.Price;
                                            <tr>
                                                <td class="product-name text-black">@item.product.Name</td>
                                                <td class="product-total text-black">
                                                    <span class="subtotal-amount">@KeyShop.Common.CommonHelper.ConvertMoney(price)đ</span>
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td class="order-subtotal"><span>Tổng tiền</span></td>
                                            <td class="order-subtotal-price">
                                                <span class="order-subtotal-amount">
                                                    @{
                                                        int money = 0;
                                                        foreach (var item in Model)
                                                        {
                                                            var price = @item.product.PriceSale > 0 ? @item.product.PriceSale.Value : @item.product.Price;
                                                            money += item.Quantity * price;
                                                        }

                                                    }
                                                    @KeyShop.Common.CommonHelper.ConvertMoney(money)đ
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="order-shipping"><span>Giảm giá</span></td>
                                            <td class="shipping-price">
                                                <span>0đ</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="total-price"><span>Thành tiền</span></td>
                                            <td class="product-subtotal">
                                                <span class="subtotal-amount">@KeyShop.Common.CommonHelper.ConvertMoney(money + 0)đ</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="payment-box">
                                <div class="payment-method">
                                    <p>
                                        <input type="radio" id="paypal" name="radio-group" checked>
                                        <label for="paypal">Thanh toán qua VNPAY</label>
                                        <img src="https://i.imgur.com/8Vp4Mc2.png" alt="paypal">
                                        Dữ liệu của bạn sẽ được sử dụng để thanh toán, thông tin của bạn sẽ được bảo mật theo <a href="privacy-policy.html">điều khoản sử dụng</a>.
                                    </p>
                                </div>
                                <button type="submit" class="default-btn"><span>Chuyển hướng thanh toán</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                @*</form>*@
            }

        }
        else
        {
            <div class="col-lg-12 col-sm-12 col-md-7 d-flex justify-content-center">
                <h3>Bạn không có sản phẩm nào trong giỏ hàng để thanh toán</h3>
            </div>
        }
    </div>
</div>